<div class="form-wrapper">
    <form action="/drones/create" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="propellers">Number of propellers:</label>
        <input type="number" name="propellers" id="propellers">

        <label for="maxSpeed">Maximum speed:</label>
        <input type="number" name="maxSpeed" id="maxSpeed">

        <button class="full-width">Create a drone</button>
    </form>
</div>